<section class="mt-4 font-monospace">
    <div class="container">
        <div class="mb-3 float-end">
            <a class="btn btn-success col-md-2 ms-auto" href="/admin/add-product">Add Products</a>
        </div>
        <table id="producttable" class="table display mt-5 " border="2">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Description}}</td>
                    <td><img width="60px" height="60px" src="product-images/{{this._id}}.png" alt=""></td>
                    <td><a class="btn btn-primary" href="/admin/edit-product/{{this._id}}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" href="/admin/delete-product/{{this._id}}" onclick="return confirm('Are you want to delete this {{this.name}}')"><i class="bi bi-trash3"></i></a></td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</section>

<script>
 new DataTable('#producttable');
</script>

<style>
    .btn-success{
        min-width: 150px;
        border-radius: 20px;
        margin-right: 2rem;
    }

     section{
       transform-origin: top bottom;
       animation: rotateG 1s ease-out forwards;
}

@keyframes rotateG {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(5deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
</style>