
    <section class="container mt-5 font-monospace">
        <div class="row">
            {{#each products}}
            <div class="col-md p-3 text-center">
                <div class="card mx-auto" style="width: 18rem">
                    <img src="product-images/{{this._id}}.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p>₹ {{this.Price}}</p>
                        <p class="card-text">{{this.Description}}</p>
                        {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add To Cart</a> --}}
                        {{#if ../user}}
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary badge rounded-pill">Add to cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>

    <style>
        .btn.badge{
            font-size: 15px;
            box-shadow: 1px 3px 7px 3px rgba(0,0,0,0.24);
        }
        .btn.badge:active{
         box-shadow: none;
        }
        .card{
            background-color: whitesmoke;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
             transform-origin: top bottom;
       animation: rotateY 0.6s ease-in-out forwards;
        }

@keyframes rotateY {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.card-img-top:hover{
  animation:hi 0.2s ease-in-out  forwards;
}
@keyframes hi {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
    </style>

