<section class="mt-4 font-monospace">
    <div class="container">
        <div>
            <h3 class="text-center">Delivery Updates</h1>
        </div>
        <table id="producttable" class="table display mt-5 " border="2">
            <thead>
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Delivery status</th>
                    <th scope="col">order date</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.userdetail.Name}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.deliveryDetails.address}}</td>
                    <td>{{this.deliveryDetails.pincode}}</td>
                    <td id="status">{{this.status}}</td>
                    <td>{{this.deliveryDetails.date}}</td>
                    <td><button onclick="changedelivery('{{this._id}}','Dispatched')" class="btn btn-primary badge">Dispatched</button><br><button onclick="changedelivery('{{this._id}}','Shipped')" class="btn btn-warning badge">Shipped</button><br><button onclick="changedelivery('{{this._id}}','Delivered')" class="btn btn-success badge">Delivered</button></td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</section>

<script>
 new DataTable('#producttable');

 function changedelivery(orderId,value){
    $.ajax({
        url:'/superadmin/changedeliverystatus',
        method:'post',
        data:{orderId,value},
        success:(response)=>{
            if(response.status){
                console.log(response)
                location.reload()
            }
        }
    })
 }
</script>

<style>
     section{
       transform-origin: top bottom;
       animation: rotateI 0.3s ease-out forwards;
}

@keyframes rotateI {
  0% {
    opacity: 0;
    transform:scaleX(20)
  }
  100% {
    opacity: 1;
    transform: scaleX(1)
  }
}
</style>